@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

fieldset {
    background-color: #f5f5f5;
    border-radius: .5rem;
}

fieldset legend {
    float: revert;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #173b6c;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}